---
import "../styles/global.css";
import "@splidejs/splide/dist/css/splide.min.css";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';

export interface LayoutProps {
  title: string;
  description?: string;
}

const { title, description = 'Crafting futuristic digital experiences with innovative web solutions.' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
  </head>
  <body class="bg-dark-space font-sans text-white">
    <Header />
    <main id="main" class="pt-6">
        <slot />
    </main>
    <Footer />
    <BackToTop />

    <script>
    declare global {
      interface Window {
        Alpine: typeof import('alpinejs');
      }
    }
    import Alpine from 'alpinejs';

    window.Alpine = Alpine;
    Alpine.start();

    // Smooth Scroll and Active Class Handling
    document.addEventListener('DOMContentLoaded', () => {
      const navLinks = document.querySelectorAll('a[data-type="smooth"]');

      navLinks.forEach((anchor) => {
        anchor.addEventListener('click', (e) => {
          e.preventDefault();
          const href = anchor.getAttribute('href');
          const targetId = href ? href.substring(1) : '';
          const targetElement = document.getElementById(targetId);
          if (targetElement) {
            const yOffset = -70;
            if (targetElement) {
              const y = targetElement ? targetElement.getBoundingClientRect().top + window.pageYOffset + yOffset : 0;
              window.scrollTo({ top: y, behavior: 'smooth' });
            }
          }
        });
      });
    });
    </script>
  </body>
</html>
